

{% extends 'base.html' %}

{% load static %}

{% block main %}


{% if user.is_authenticated and user.user.booking is None %}
<script>
(function worker() {
  $.ajax({
    url: '{% url 'all-bookables' %}',
    success: function(data) {
      $('#all-bookables').html(data);
    },
    complete: function() {
      // Schedule the next request when the current one's complete
      setTimeout(worker, 5000);
    }
  });
})();

book = function(btn) {
  $.ajax({
    url: '{% url 'book' %}',
    data: {
      'bookable': btn.value,
    },
    complete: function() {
      location.reload()
    }
  });
  btn.innerText = 'pending';
  children = document.getElementById('all-bookables').children;
  for (var i =0; i < children.length; i++)
    children[i].disabled = true; // TODO fix this
}

</script>
{% else %}
<script>
release = function(btn) {
  $.ajax({
    url: '{% url 'release-booking' %}',
    complete: function() {
      location.reload()
    },
  });
  btn.innerText = 'Releasing';
  btn.disabled = true; // TODO fix this
}
</script>
{% endif %}


  {% if user.is_authenticated %}

<div class="container-fluid">
<div class="row">
  <div class="col-md-2 center">
  </div>
  <div class="col-md-8">

    {% if user.user.booking is None %}
    <h2> All Available Bookings Today: </h2>
    <div id="all-bookables" class="centered">
    </div>
    {% else %}
    <h2 class="bottom-three"> Your booking is for {{ user.user.booking.starttime }} at {{ user.user.booking.officehour.location }}.</h2>
    <button onclick="release(this)" class="danger"> CANCEL My Booking </button>
    {% endif %}

  </div>
  <div class="col-md-2 center">
  </div>
</div>
</div>
 {% endif %}


{% endblock %}
